.groen {
	color: #48c23d;
}
.aqua {
	color: #00b4f1;
}
.aquadonker {
	color: #1090bb;
}
.rood {
	color: red;
}
.zwart {
	color: #111;
}
.donkerblauw {
	color: #3561d1;
}
.gras {
	color: #3fb032;
}
.oranje {
	color: #ff6e00;
}
.hei {
	color: #aa6496;
}
.kodak {
	color: #e4a901;
}

.rose {
	color: #dc0e76;
}